/* styles.css */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

header {
    background: #F47E20;
    color: #fff;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #B1B1B1;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin: 0 0 20px;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #007bff;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
/* Estilos para el segundo header */
.secondary-header {
    background-color: white; /* Fondo blanco para el segundo header */
    padding: 10px; /* Espaciado alrededor del contenido */
    text-align: center; /* Centra el contenido del header */
}

/* Imágenes dentro del segundo header */
.secondary-header img {
    margin: 5px; /* Margen alrededor de las imágenes */
    max-width: 100px; /* Tamaño máximo de las imágenes (ajústalo según tus necesidades) */
}

